[user]
  name = Omar Saleem
  email = ofsaleem@users.noreply.github.com
[color]
  ui = true
  pager = no
[core]
  pager = nvimpager
[include]
  path = .gitconfig.local
[pull]
  rebase = false
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
